<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="booking">BOOKING</ion-segment-button>
      <ion-segment-button value="delivery" color="success">DELIVERY</ion-segment-button>
    </ion-segment>

    <ion-button fill="clear" slot="end">
      <ion-icon name="notifications"></ion-icon>
      @if (notificationsCount > 0) {
        <ion-badge color="danger" style="margin-top: -20px;">{{ notificationsCount }}</ion-badge>
      }
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (segment === 'booking') {
    <app-booking></app-booking>
  } @else if (segment === 'delivery') {
    <app-delivery></app-delivery>
  }
</ion-content>

<ion-footer [translucent]="true" style="background-color: #fff;">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="task">
      <div class="icon-badge">
        <ion-icon name="checkmark-done"></ion-icon>
        <span class="badge">10</span>
      </div>
      <span class="tab-label">Task</span>
    </ion-tab-button>

    <ion-tab-button tab="home" class="active-home">
      <ion-icon name="home"></ion-icon>
      <span class="tab-label">Home</span>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <span class="tab-label">Account</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
