.custom-footer {
  background: #fff;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.05);
  .ion-tab-button {
    flex-direction: column;
    color: #22b573;
    .tab-label {
      font-size: 13px;
      margin-top: 2px;
    }
    .icon-badge {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }
  .badge {
    position: absolute;
    top: 8px;
    right: 30px;
    background: #ffa800;
    color: #fff;
    font-size: 10px;
    border-radius: 12px;
    padding: 2px 5px;
    min-width: 16px;
    text-align: center;
    font-weight: bold;
    }
}
 .active-home {
    background: #22b573;
    border-radius: 33px / 18px;
    color: #fff;
    margin-top: -22px;
    min-width: 120px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(34,181,115,0.15);

    .tab-label {
      color: #fff;
      font-weight: 500;
      margin-top: 2px;
    }
    ion-icon {
      font-size: 32px;
    }
  }